*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --cor-prim: rgb(37, 37, 37);
    --cor-sec: rgb(255, 0, 0);
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 40vw;
    height: 60vh;
    border-radius: 20px;

    background-color: var(--cor-prim);
}
form{
    gap: 22px;
    display: flex;
    flex-direction: column;
}

h1{
    color: var(--cor-sec);
    font-size: 5vh;
    margin-bottom: 4vh;
}
p{
    color: var(--cor-sec);
    font-size: 2.5vh;
}
input{ 
    border-radius: 20px;
    width: 22vw;
    height: 5vh;
    padding: 1vh;
    box-shadow: 3px 3px 3px var(--cor-sec);
    font-size: 2.5vh;
}
button{ 
    border-radius: 20px;
    width: 24vw;
    padding: 2vh;
    box-shadow: 3px 3px 3px black;
    background-color: var(--cor-sec);
    font-size: 2.5vh;
}

.div1 div {
    text-align: start;
}

span{
    color: white;
}