<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>atividade Py</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<section>
    <div class="div1">
        <div>
            <h1>Inverta uma frase </h1>
            <form action="/inverter" method='POST'>
                <input type="text" name="n" placeholder="Frase">
                <button type="submit"> Inverter </button>
                <p>Resultado da inverção: <span>{{msg}}</span></p>
            </form>    
        </div>    
    </div>
</section>
</body>
</html>